.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

div{
  font-family: Manrope, Arial;
}

.display{
  display: none;
}

.container{
  
  border-width: 2px;
  border-color: black;
  display: flex;
  width: 600px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.second-part{
  background-color: white;
  border-color: black;
  
}

.drawers{
  width: 250px;
  height: 300px;
}

.header{
  color: hsl(217, 19%, 35%);
  font-size: 18px;
  font-weight: bold;
}

.caption{
  color: hsl(212, 23%, 69%);
  font-size: 13px;
}

.info{
  display: flex;

}

.pfp{
  width: 50px;
  border-radius: 25px;
}

.author{
  font-weight: bold;
  color:hsl(217, 19%, 35%);
}

.date{
  color:hsl(212, 23%, 69%);
}

.share-button{
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  cursor: pointer;
}

.share-button:focus{
  color: white;
  background-color: hsl(217, 19%, 35%);
}